<a href="https://colab.research.google.com/github/Daryamn88/COMP2152/blob/main/COMP2152_Lab09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This exercise will help you practice using SQLite database to store and retrieve students and course information:

In [ ]:
# Run the given scripts below to create a new SQLite Database called `school.db`. Alternatively,
# you can manually create the database from SQLite GUI, then drag and drop the database to the Files section and connect to it.

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('school.db')
c = conn.cursor()

c.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER NOT NULL,
        email TEXT NOT NULL UNIQUE
    )
''')

c.execute('''
    CREATE TABLE IF NOT EXISTS courses (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        code TEXT NOT NULL UNIQUE,
        description TEXT NOT NULL
    )
''')

conn.commit()

conn.close()

## Students - Add/Get/Update/Delete Functions

In [ ]:
# function to add a new student to the database
# function name: add_student()
# function params: name, age, email
# INSERT statement

In [ ]:
def add_student(name, age, email):
    conn = sqlite3.connect('school.db')
    c = conn.cursor()
    c.execute('''INSERT INTO students (name, age, email) VALUES (?, ?, ?)''', (name, age, email,))

    conn.commit()
    conn.close()

In [ ]:
add_student('Darya', '22', 'darya.mansouri@georgerbrown.ca')
add_student('Sherry', '29', 'sherry.zarei@georgebrown.ca')

In [ ]:
# function to get all students from the database
# function name: get_students()
# function params: no param needed
# SELECT statement
# fetchall()

In [ ]:
def get_students():
  conn = sqlite3.connect('school.db')
  c = conn.cursor()
  c.execute('''SELECT * FROM students''')
  students = c.fetchall()
  conn.close()
  return students

In [ ]:
get_students()

[(1, 'Darya', 22, 'darya.mansouri@georgerbrown.ca'),
 (2, 'Sherry', 29, 'sherry.zarei@georgebrown.ca')]

In [ ]:
# function to get student by id
# function name: get_student_by_id()
# function params: id
# SELECT ... WHERE statement
# fetchone()

In [ ]:
def get_student_by_id(id):
  conn = sqlite3.connect('school.db')
  c = conn.cursor()
  c.execute('''SELECT * FROM students WHERE id=?''', (id,))
  student = c.fetchone()
  conn.close()
  return student

In [ ]:
get_student_by_id(1)

(1, 'Darya', 22, 'darya.mansouri@georgerbrown.ca')

In [ ]:
# function to update a student in the database
# function name: update_student()
# function params: id, name, age, email
# UPDATE statement

In [ ]:
def update_student(id, name, age, email):
  conn = sqlite3.connect('school.db')
  c = conn.cursor()
  c.execute('''UPDATE students SET name=?, age=?, email=? WHERE id=?''', (name, age, email, id,))
  conn.commit()
  conn.close()

In [ ]:
update_student(2, 'sherry', 30, 'sherry@gmail.com')

In [ ]:
get_students()

[(1, 'Darya', 22, 'darya.mansouri@georgerbrown.ca'),
 (2, 'sherry', 30, 'sherry@gmail.com')]

In [ ]:
# function to delete a student from the database
# function name: delete_student()
# function params: id
# DELETE statement

In [ ]:
def delete_student(id):
    conn = sqlite3.connect('school.db')
    c = conn.cursor()
    c.execute('''DELETE FROM students WHERE id=?''', (id,))
    conn.commit()
    conn.close()

In [ ]:
delete_student(2)

In [ ]:
get_students()

[(1, 'Darya', 22, 'darya.mansouri@georgerbrown.ca')]