In [53]:
    name = "Darya"
    Studentnumber = 101394900
    right = True

In [52]:
    print("A double quoted string value")
    print('A single quoted string value')

A double quoted string value
A single quoted string value

In [51]:
    str1 = "A double quoted string value"
    str2 = 'Asingle quoted string value'
    print(str1)
    print(str2)

A double quoted string value
Asingle quoted string value

In [50]:
    print(123)
    print(987)

123
987

In [1]:
    num1 = 456
    num2 = 279
    print(num1)
    print(num2)

456
279

In [48]:
    print(12.34)
    print(56.78)

12.34
56.78

In [47]:
    fl_1 = 544.363
    fl_2 = 793.42

    print(fl_1)
    print(fl_2)

544.363
793.42

In [ ]:
print(True)
print(False)

In [46]:
bool_1 = True
bool_2 = False
print(bool_1)
print(bool_2)

True
False

In [45]:
print(1+5)

6

In [44]:
print(10-3)

7

In [43]:
print(6*3)

18

In [42]:
print(6*3)

18

In [41]:
print(9*5)

45

In [40]:
print(12/5)

2.4

In [39]:
print(12//5)

2

In [38]:
print(20%3)

2

In [37]:
print(2**4)

16

In [36]:
num1 = 52
num2 = 5

print(num1 + num2)

print(num1 - num2)

print(num1 * num2)

print(num1 / num2)

print(num1 // num2)

print(num1 // num2)

print(num1 % num2)

print(num1 ** num2)

57
47
260
10.4
10
10
2
380204032

In [34]:
num1 = 12

num2 = 4

num1+=7

print(num1)

num1-=num2

print(num1)

num2*=num1

print(num2)

19
15
60

In [33]:
a = -12

b = 15

c = 130

d = 75

e = (a + b) * c / d
e+= ((a + b) * c) / d

In [ ]:
print("Hello" + " " + "word")

str1 = "Hello"

str2 = "World"

num1 = 5

print(str1 + " " + str2)

print("Hello" + 1)

print(str1 + num1)

In [32]:
print("Hello "\
     "There "\
     "From "\
     "Multiple "\
     "Lines")

print("Hello " +
      "There " +
      "From " +
      "Multiple " +
      "Lines")

Hello There From Multiple Lines
Hello There From Multiple Lines

In [31]:
print("\n")
print("\r")
print("\r")
print("\'")
print("\"")
print("\\")
#this is a comment

'
"
\

In [30]:
print("Hello", "World", "From", "Python")

Hello World From Python

In [29]:
print("Hello", True, 468, 98.76)

Hello True 468 98.76

In [28]:
print("Hello", "World", "From", "Python", sep='\t')
print("Hello", True, 468, 98.76, sep="\t")

Hello	World	From	Python
Hello	True	468	98.76

In [27]:
print("Hello", "World", "From", "Pyhton", sep='\t', end='--End--')
print("Hello", True, 468, 98.76, sep="\t", end='--End--')

Hello	World	From	Pyhton--End--Hello	True	468	98.76--End--

In [26]:
input()
input("Enter your name")
input("Enter number")

d
Enter your namedarya
Enter number12

'12'

In [ ]:
user_input = input()
name = input("Enter your name")
number = input("Enter number")

In [25]:
str_from_number = str(1)
str_from_boolean = str(True)
str_from_float = str(12.34)
float_from_int = float(2)
float_from_str = float("56.78")
float_from_float = int(123.45)
int_from_str_1 = int("123")
int_from_str_2 = int("123.45")
#throws a value error

ValueError: invalid literal for int() with base 10: '123.45'

In [ ]:
print ( round(123.45) )
print ( round(123.45, 1) )

In [ ]:
a = "Hello World"
print(len(a))

In [ ]:
print("The price is ${0:7.2f}.".format(19.9) )

In [22]:
print("The price is ${val:7.2f}.".format(val=19.9))

The price is $  19.90.

In [23]:
shoes = 2
socks = 1.5
str1 = "I have {:d} pairs of shoes and " \
       "{:f} pairs of socks".format(shoes, socks)

str2 = "I have {0:d} pairs of shoes and " \
       "{1:f} pairs of socks".format(shoes, socks)

str3 = "I have {numShoes:d} pairs of shoes and " \
       "{numSocks:f} pairs of socks" \
       .format(numShoes=shoes, numSocks=socks)

str4 = "I have {0:d} pairs of shoes and " \
       "{1:.1f} pairs of socks".format(shoes, socks)

str5 = "I have {numShoes:d} pairs of shoes and " \
       "{numSocks:.1f} pairs of socks" \
       .format(numShoes=shoes, numSocks=socks)

str6 = "I have {:1d} pairs of shoes and " \
       "{:8f} pairs of socks".format(shoes, socks)

str7 = "I have {0:1d} pairs of shoes and " \
       "{1:8f} pairs of socks".format(shoes, socks)

str8 = "I have {numShoes:1d} pairs of shoes and " \
       "{numSocks:8f} pairs of socks" \
       .format(numShoes=shoes, numSocks=socks)

str9 = "I have {:1d} pairs of shoes and " \
       "{:8.1f} pairs of socks".format(shoes, socks)


print(str1)
print(str2)
print(str3)
print(str4)
print(str5)
print()
print(str6)
print(str7)
print(str8)
print(str9)

I have 2 pairs of shoes and 1.500000 pairs of socks
I have 2 pairs of shoes and 1.500000 pairs of socks
I have 2 pairs of shoes and 1.500000 pairs of socks
I have 2 pairs of shoes and 1.5 pairs of socks
I have 2 pairs of shoes and 1.5 pairs of socks

I have 2 pairs of shoes and 1.500000 pairs of socks
I have 2 pairs of shoes and 1.500000 pairs of socks
I have 2 pairs of shoes and 1.500000 pairs of socks
I have 2 pairs of shoes and      1.5 pairs of socks

In [ ]:
print("Left Spacing".rjust(15))

In [ ]:
print("Left Spacing".rjust(15,'*'))

In [18]:
print( "Left Spacing".rjust(15), "Middle".ljust(10), "Right Spacing".center(17) )

print( "Left Spacing".rjust(15,'#'), "Middle".ljust(10,'|'), "Right Spacing".center(17,'*') )

   Left Spacing Middle       Right Spacing
###Left Spacing Middle|||| **Right Spacing**