In [8]:
mB1 = True
mB2 = False
num1 = 10
num2 = 20
num3 = 30
s1 = "Hello"
s2 = "Bye"
print(mB1 == True)
print(mB2 == False)
print(mB2 != False)
print(mB1 == mB2)
print(mB1 != mB2 , "\n")

print(s1 == s2)
print(s1 == "Hello")
print(s1 != s2, "\n")

print(num1 == 10)
print(num1 == 15)
print(num1 == num2)
print(num1 != num2)
print(num1 + num2 == num3)
print(num1 == num2 + num3)

True
True
False
False
True

False
True
True

True
False
False
True
True
False

In [13]:
num1 = 10
num2 = 20
num3 = 30
c1 = 'T'
c2 = 'W'

print(num1 > 10)
print(num1 > num2)
print(num1 <= 20)
print(num1 >= 15 , "\n")

print(c1 <= 'C')
print(c1 > 'R')
print(c1 > c2, "\n")

print(c2 > 'T')
print(c2 >= 'X')
print(c2 > c1, "\n")

print(num1 < 20)
print(num2 > num1)
print(num2 >=10)
print(num2 <=15, "\n")

print(num1 + num2 > num3)
print(num1 - num2 < num3)
print(num2 / num3 < num1)
print(num2 * num3 < num3)

False
False
True
False

False
True
False

True
False
True

True
True
True
False

False
True
True
False

In [14]:
mark = 75
print(mark >= 70 and mark <= 80)
mark1 = 50
mark2 = 70
mark3 = 90
print(mark1 < mark2 and mark2 < mark3)

True
True

In [15]:
color = "red"
print(color == "red" or color == "blue" or color == "green")
color = "blue"
print(len( color ) > 5 or color == "red")
#len = length
color = "orange"
print('a' in color or len( color ) == 3)
#checks if the letter "a" exists in the string that is stored in color

True
False
True

In [17]:
mark = 60
print( not mark == 60)

trueOfFalse = True
print ( not trueOfFalse)
#it works the same way as ! exept for the fact that it is places at the begining of the statement

False
False

In [18]:
myBool = True
if myBool :
    print("success")

success

In [19]:
i = 4
if i == 0 :
    print ("first")
elif i > 0 and i < 4 :
    print ("second")
elif i > 3 and i !=5 :
    print ("third")
else :
    print("fourth")

third

In [23]:
i = 0
if i > 0 :
    print("first")
elif i < 0 :
    print("second")

first

In [24]:
hourlyEmployee = True;
hours = 50
bonus = 0
yearsEmployed = 5

if hourlyEmployee == True :
    if hours > 40 :
        bonus = 500
    else :
        bonus = 100
else :
    if yearsEmployed > 10 :
        bonus = 300
    else :
        bonus = 200

print(" hourlyEmplyed:" , hourlyEmployee, "\n hours: ",
      hours, "\n bonus: ", bonus, "\n yearsEmployed:", yearsEmployed)

 hourlyEmplyed: True
 hours:  50
 bonus:  500
 yearsEmployed: 5

In [25]:
number = int(input("enter number: "))
if number > 0 :
    print("your number is greater than 0")
elif number == 0 :
    print("your number is 0")
else :
    print("Your number is less than 0")

enter number: 8
your number is greater than 0

In [26]:
age = 11
print('adult' if age <18 else 'minor')

adult

In [28]:
examScore = 90
grade = 'A' if examScore > 89 else 'C'
print(grade)

A

In [29]:
timeAtSite = 3.5
charges = 100.00 if timeAtSite < 2.0 \
    else timeAtSite * 50.00;
print(charges)

175.0

In [30]:
value1 = 10
value2 = 20
value3 = 30
value4 = 40
value5 = 50

if value1 > value2 or value3 == 10 and value4 + 5 < value5 :
    print("The expression evalutes to TRUE")

else :
    print("The expression evalutes to FALSE")

The expression evalutes to FALSE